  <div class="col-md-3">
    <p>
        <%= r.name %>
    </p>
    <p>
       <%= button_to 'Remove', recipe_path(r), method: :delete, class: 'btn btn-warning btn-sm' %>
    </p>
</div>

   <div class="col-md-9">
    <a  class="text-decoration-none" href="<%= recipe_path(r) %>">
                <p><%= r.description %></p>
    </a>
   </div>